# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py
settings_local.py

# VS Code
.vscode/

# macOS
.DS_Store

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Test & Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.tox/
.pytest_cache/
test-results/
junit-*.xml

# Pipenv
Pipfile.lock

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py

# Node (if using frontend in monorepo)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
*.pid

# Others
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.~ 